
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #0c4b97; /* Azul SENA */
    padding: 20px;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.navbar {
    background-color: #083873;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.navbar a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.navbar a:hover {
    background-color: #0da650; /* Verde SENA */
}


.container {
    max-width: 1100px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background-color: #0c4b97;
    color: white;
    padding: 12px;
    text-align: left;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}

.btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #0da650;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0a8d45;
}

footer {
    background-color: #083873;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
